
// ghi đè các gạch chân
:where(.ant-menu-light).ant-menu-horizontal > .ant-menu-item-selected::after,
:where(.ant-menu-light) > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected::after,
:where(.ant-menu-light).ant-menu-horizontal > .ant-menu-submenu-selected::after,
:where(.ant-menu-light) > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected::after {
  border-bottom-width: 0 !important;
  border-bottom-color: transparent !important;
}

:where(.css-dev-only-do-not-override-36gkoj).ant-menu-horizontal {
         border-bottom: 0px;
}
